/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	background: url("../img/wallpaper.jpg") 0 fixed;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 36px;
	font-size: 18px;
	padding: 6px;
	margin-bottom: 20px;
}

.header a {
	text-decoration: none;
	float: left;
	color: #ee8557;
}

.header .header_button{
	width: 100px;
	float:  left;
	padding: 6px;
}

.header .header_button :hover{
	color: rgb(67, 26, 68);
}

.header .header_button_right{
	float:  right;
	padding: 6px;
}

#but{
	background-color: rgba(238,117,78,0.69);
	color: rgba(43,19,44,0.69);
	box-shadow: none;
	border-radius: 2px;
	width: 150px;
	height: 30px;
	cursor: pointer;
	text-align: center;
	border: 1px solid rgba(43,19,44,0.69);
	font-weight: bolder;
}
#but:hover{
	border-radius: 2px;
	border: 1px solid rgba(43,19,44,0.69);
	background-color: rgb(43, 19, 44);
	color: rgba(238, 117, 78, 0.69);
}



/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
}
.content {
	padding: 0 370px 0 0;
}

.login_form{
	color: rgb(67, 26, 68);
	padding: 5px;
	margin: auto;
	width: 260px;
	font-size: 1.5em;
	font-weight: bolder;
}

.login_form input{
	margin: 5px;
	width: 140px;
	height: 20px;
	background-color: #ee8557;
	box-shadow: none;
	border-radius: 6px;
	border: none;
}

.login_form input:focus{
	border: none;
	outline: none;
	box-shadow: 0 0 8px rgb(67, 26, 68);
}

.content #reg{

	text-align: center;
}

#log_input, #reg_input{
	font-weight: bolder;
	margin-top: 5px;
	background-color: rgba(238,117,78,0.69);
	color: rgba(43,19,44,0.69);
	box-shadow: none;
	border-radius: 2px;
	width: 110px;
	height: 25px;
	cursor: pointer;
	text-align: center;
	border: 1px solid rgba(43,19,44,0.69);
}

#log_input:hover, #reg_input:hover {
	border-radius: 2px;
	border: 1px solid rgba(43,19,44,0.69);
	background-color: rgb(43, 19, 44);
	color: rgba(238, 117, 78, 0.69);
}

.content #log{
	text-align: center;
}


#download_form {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder;
	font-size: 14px;
	text-align: center;
	margin: 15px;
	width: 450px;
	padding: 10px;
	border: 4px #ee754e solid;
}

.radio_tool {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder;
	font-size: 14px;
	text-align: center;
	margin: 15px;
	width: 450px;
	padding: 10px;
	border: 4px #ee754e solid;
}

.radio_tool input{
	margin: 5px;
	width: 50px;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	padding: 5px;
	margin-top: 28px;
	float: left;
	width: 380px;
	margin-left: -400px;
	position: relative;
	background: rgba(43, 19, 44, 0.69);
	color: #ff761f;
	font-size: 18px;
}

.right-sidebar a{
	text-decoration: none;
	color: #ff761f;
}

.right-sidebar a:hover{
	text-decoration: none;
	background-color: #ff761f;
	color: #431a44;
}

.right-sidebar IMG{
	border: solid 1px #BFF08E;
	width: 155px;
	height: 155px;
	margin: 15px
}





/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1000px;
	height: 100px;
	position: relative;
}

#video {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width:320px;
	height:240px;
	position: relative;
	z-index: 4;
}

#photo {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width:320px;
	height:240px;
	position: relative;
	z-index: 5;
}

#canvas {
	display:none;
}

.camera {
	margin-right: 15px;
	width: 320px;
	display:inline-block;
	vertical-align: top;
	position: relative;
}

.output {
	width: 320px;
	display:inline-block;
	vertical-align: top;
}

#startbutton {
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	bottom:32px;
	background-color: rgba(0, 150, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-family: "Lucida Grande", "Arial", sans-serif;
	color: rgba(255, 255, 255, 1.0);
	z-index: 888;
}

.contentarea {
	text-align: center;
	margin: 15px;
	font-size: 16px;
	border: 4px #ee754e solid;
	font-family: "Lucida Grande", "Arial", sans-serif;
	width: 450px;
	padding: 10px;
}

.camera img {
	z-index: 80;
	left: 0;
	top: 0;
	max-width: 320px;
	max-height: 240px;
	position: absolute;
}

.big_photo {
	margin: 5px;
	border: solid 1px black;
	width: 500px;
	display: inline-block;
	vertical-align: top;
	font-weight: bolder;
}

.big_photo input{
	margin: 5px;
	width: 480px;
	height: 20px;
	background-color: #ee8557;
	box-shadow: none;
	border-radius: 6px;
	border: none;
}

.big_photo input:focus{
	border: none;
	outline: none;
	box-shadow: 0 0 8px rgb(67, 26, 68);
}